/* HOMEPAGE */
html, body {
    height: 100%;
    width: 100%;
    display: table;
}

body{
   background-color: rgb(54,54,54);
    margin: 0;
    padding: 0;
}

header {
    background-color: #040404;
    margin-top: 0;
    padding: 0;

}

ul{
    list-style: none;
}

a:hover{
    color: #44d62c!important;
}


header>ul{
    display:flex;
    justify-content:center;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 3px solid #44d62c;
    padding-top: 1%;
    padding-bottom: 1%;
}


header > ul > li:first-of-type > button > img{
    max-height: 40px;
    padding-top: 10%;

}
header > ul > li:nth-child(2){
    margin-right: auto;
    margin-left: auto;
}

header > ul > li:last-of-type > a >img{
    max-height: 50px;
    
}

header > ul > li:nth-child(2) > a > img{
 max-height: 50px;
}


    


div.barra > ul{
    display:  none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(54,54,54);
    border-bottom: 3px solid #44d62c;
}
div.barra > ul > li{
    margin: 0 auto;

}

div.barra > ul > li > a{
    text-decoration: none;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

.bottoneMenu {
    background-color: transparent;
    border: 0px;
}

nav.menu{
    background-color: #040404;
    display: none;
    position: absolute;
    padding-right: 16%;
    padding-left: 12%;
    padding-bottom: 10%;
    padding-top: 10%;
}

nav.menu>ul{
    text-align: center;

}

nav.menu>ul>li{
    margin-top:  50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #44d62c;

}

nav.menu>ul>li>a{
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;

}
    


section > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #44d62c;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    font-weight: 100;
}
section> h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

section{
    background-color: #040404;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
   
}
section:not(:first-of-type){
    background-color: #040404;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}
.container {
    margin-top: -3.5%;
    width: 100%;
    height: 100%;
}


.container img {
    
    width: 100%;
    height: 100%;
}



section:not(:first-of-type) > h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;

}

section:not(:first-of-type) > p{
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;

}

.link1{
    font-family: Arial, Helvetica, sans-serif;
    color: #44d62c;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 2%;

}

footer{
    background-color: #040404;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: table-row;
    height: 0;
  

    
}

footer>p{
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-size: 20px;
    font-weight: 100;
    
}


/* LOGIN.HTML e REGISTER.HTML*/
div.login{
    display: flex;
    justify-content: center;
    background-color: #040404;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    max-height: 500px;
    max-width: 400px;
    margin-bottom: 3%;
    
}

div.login>form>h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #FFF;
    padding-left: 19%;

}

div.login>form{
    text-align: center;
}



div.login>form>ul>li{
    margin-top: 15%;
    margin-bottom: 15%;

}

li.registerButton>input{
    padding-top: 5%!important;
    padding-bottom: 5%!important;
    padding-left: 29%!important;
    padding-right: 29%!important;
    background-color: #44d62c!important;
}

li.loginButton>input{
    padding-top: 5%!important;
    padding-bottom: 5%!important;
    padding-left: 33%!important;
    padding-right: 33%!important;
    background-color: #44d62c!important;
}


div.login>form>ul>li>input{
    background-color: #999999;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

     
}

div.login>form>ul>li>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #999;

    
}

a.vadoRegister{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 28%;
    padding-right: 28%;
    background-color: #999;
    color: #040404;
    text-decoration: none;

    
}

a.vadoLogin{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: #999;
    color: #040404;
    text-decoration: none;


    
}

::placeholder{
    
    color: #040404;

 
}


@media screen and (min-width: 768px){

    div.barra > ul {
        display: flex;
    }

    section:not(:first-of-type){
        display: inline-block;
        width: 40%;
        margin-left: 6%;
    }

    .container {
        margin-top: -3.5%;
        width: 100%;
        height: 100%;
    
    }
    
    /* Resize images */
    .container img {
        
        width: 100%;
        height: 100%;
      
    }

    div.login{
        max-height: 500px;
        max-width: 500px;
    }

}




