/* HOMEPAGE INIZIO */
html, body {
    height: 100%;
    width: 100%;
    display: table;
}

body{
    background-color: #161A1D;
    margin: 0 0 0 0;
    padding: 0;
}

header {
    background-color: #000;
    margin-top: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    border-bottom: 5px solid #E5383B;
}

ul{
    list-style: none;
}

a:hover{
    color: #E32629!important;
}

header>ul{
    display:flex;
    justify-content:center;
    margin: 15px 1% 20px;
    padding: 0;
    max-height: 50px;
}

header > ul > li:first-of-type > button > img{
    max-height: 45px;
}

header > ul > li:nth-child(2){
    margin-right: auto;
    margin-left: auto;
}

header > ul > li > a >img{
    max-height: 50px;
    margin: 0 10px;
}

header > ul > li:nth-child(2) > a > img{
 max-height: 50px;
}

header a{
    position: relative;
    display: inline-block;
}

/* PARTE ICONE HEADER */
header p {
    position: absolute;   
    color: white;
    font-size: 12px;
    display: inline-block;
    bottom: 23px;
    right: 13px;
    background-color: #E32629;
    padding: 1px 5px;
    border-radius: 10px;
}

header img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
/* FINE PARTE ICONE HEADER */

.text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
 }

div.barra {
    margin-top: 85px;
}

div.barra > ul{
    display:  none;
    margin-bottom: 0;
    margin-top: auto;
    padding: 1%;
    background-color: #000;
    border-bottom: 5px solid #E32629;
}

div.barra > ul > li{
    margin: 0 auto;
}

div.barra > ul > li > a{
    text-decoration: none;
    color: #D3D3D3;
    font-size: 20px;
}

.bottoneMenu {
    background-color: transparent;
    border: 0px;
    padding: 0;
}

nav.menu{
    z-index: 1;
    background-color: #000;
    display: none;
    position: fixed;
    padding: 2% 15%;
    border: 3px solid #E32629;
    margin-top: 90px;
}

nav.menu>ul{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    margin: 0;
}

nav.menu>ul>li{
    margin: 35px 0;
}

nav.menu>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: #D3D3D3;
    border-bottom: 1px solid #E32629;
}

main{
    padding: 2% 0;
}

/* NOTIFICHE A SCHERMO */
section.areaNotifiche{
    z-index: 1;
    background-color: transparent;
    position: fixed;
    padding: 0 2%;
    margin: 90px 0 0;
    width: 96%;
}

section.areaNotifiche > div{
    height: 60px;
    padding: 1% 2%;
    background-color: white;
    margin: 3px 0;
    border: 2px solid #717171;
}

section.areaNotifiche > div.vediTutto{
    height: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}

section.areaNotifiche a{
    text-decoration: none;
    color: #E32629;
}

section.areaNotifiche > div > div{
    height: 20px;
    text-align: left;
}

section.areaNotifiche > div > div > h2{
    font-size: 16px;
    margin: 0;
    padding: 0;
    float: left;
}

section.areaNotifiche > div > div > button{
    font-size: 12px;
    width: 20px;
    margin: 0;
    padding: 0;
    float: right;
}

section.areaNotifiche > div > p{
    height: 26px;
    font-size: 10px;
    margin: 1px 0;
    text-align: left;
}

section.areaNotifiche > div > footer{
    height: 12px;
    font-size: 10px;
    padding: 0;
    text-align: right;
    display: block;
    background-color: transparent;
    text-decoration: none;
}



/*SLIDER IMMAGINI INZIO*/
.slider{
    padding: 2% 0;
    margin-bottom: 3%;
    width: 100%;
    background-color: #000;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*SLIDER IMMAGINI FINE*/

section > h1 {
    color: #E32629;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    font-weight: 100;
}
section> h2 {
    color: #D3D3D3;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

section{
    background-color: #000;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    text-align: center;
}

section:not(:first-of-type){
    background-color: #000;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

.container {
    margin-top: -3.5%;
    width: 100%;
    height: 100%;
}

.container img {
    width: 100%;
    height: 100%;
}

section:not(:first-of-type) > h2{
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding-left: 2%;

}

section:not(:first-of-type) > p{
    color: #D3D3D3;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding-left: 2%;

}

.link1{
    color: #E32629;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 2%;

}

footer{
    background-color: #000;
    text-align: center;
    padding: 1% 0;
    display: table-row;
}

footer>p:first-of-type{
    padding-top: 20px;
}

footer>p:last-of-type{
    padding-bottom: 20px;
}

footer>p{
    color: #D3D3D3;
    font-size: 15px;
    font-weight: 100;
    text-align: center;    
    margin: auto;
}

p.categorieFooter{
    font-size: 25px;
    color: #E32629;
    font-weight: 100;
}

table.tabellaFooter{
    text-align: center;
    margin-bottom: 1%; 
    margin-left: auto;
    margin-right: auto;
}

table.tabellaFooter tr, table.tabellaFooter th{
    padding: 10px 30px;
    width: 30%;
}

table.tabellaFooter th > a{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}
/*HOMEPAGE FINE*/

/* LOGIN e REGISTER INIZIO*/
div.login{
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 2% auto;
    max-height: 500px;
    max-width: 400px;
    text-align: center;
    padding: 0 2% 7% 2%;
}

div.login>form>h2{
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    color: #FFF;
    margin: 2% 0%;
}

div.login>form{
    text-align: center;
    margin: 5px 0;
}

div.login>form>ul{
    padding: 0px;
}

div.login>form>ul>li:first-of-type>p{
    text-align: center;
    color: red;
}

div.login>form>ul>li{
    margin: 5% 0;
}

div.login>form>ul>li:last-of-type{
    padding: 5% 0;
}

li.registerButton>input, li.loginButton>input{
    font-weight: bold;
    font-size: 15px;
    background-color: #E32629;
    padding: 20px 50px;
    margin-top: 10px;
    width: 300px;
}

div.login>form>ul>li>input.field{
    background-color: #D3D3D3;;
    padding: 2%;
    width: 240px;
    height: 25px;
    font-size: 14px;

}

div.login>form>ul>li>p{
    text-align: center;
    font-weight: 100;
    color: #999;
    margin: 5px;
}

div.login>form>ul>li>label{
    text-align: center;
    color: #999;
    margin: 20%;
    padding: 5px 0;
}

a.vaiPagina{
    font-weight: bold;
    font-size: 20px;
    color: rgb(226, 226, 226);
    padding: 20px 50px;
    margin: 0;
    width: 300px;
}

::placeholder{
    color: #000;
}


div.login>form>ul>li>input.error{
    border: 1px solid red;
    background-color: rgb(197, 197, 197);
}

div.login>form>ul>li>p.error {
    color: red;
}

div.login>form>ul>li>label.error {
    color: white;
}

/* LOGIN e REGISTER FINE */

/* CATEGORIE INIZIO */
section.filtro > h1{
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}

section.filtro > h2{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
}
section.filtro > ul {
    text-align: left;
}
section.filtro > ul > li{
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top: 2%;
}

section.filtro >ul > li > button{
    min-width: 80px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #E32629;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    font-weight: bold;
}


table.tabellaCategorie {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

h2.testoTabella{
    color: #FFF;
    font-weight: 100;
}

p.testoTabella{
    color: #999;
    font-weight: 100;
}

.bottoneTabella {
    background-color: #E32629;
    min-width: 150px;
    min-height: 50px;
    color: #000;
    font-weight: bold;
}
/* CATEGORIE FINE */

/* PRODOTTO INIZIO */
section.prodottoSingolo{
    text-align: left;
    margin: 5% 3%;
}

section.prodottoSingolo > h1{
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 40px;
}

section.prodottoSingolo > h2{
    display: inline-block;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;
    color: #FFF;
}

form.selezionaQuantità{
    display: inline-block;
    margin-left: 50px;

}
select{
    background-color: rgba(0, 0, 0, 0);
    min-width: 50px;
    min-height: 50px;
    color: #FFF;
    border: 1px solid #E32629;
}
option{
    background-color: #000;
    
}

button.aggiungi{
    background-color: #E32629;
    min-width: 150px;
    min-height: 50px;
    color: #000;
    position: absolute;
    margin-left: -205px;
    margin-top: 80px;
    font-weight: bold;
}

section.prodottoSingolo > p{
    color: #D3D3D3;
    font-size: 20px;
    font-weight: 100;
    text-align: left;

    margin-right: 3%;
    margin-left: 3%;
}

button.mostra{
    margin-left: 3%;
    background-color: #E32629;
    max-width: 100px;
    color: #000;
    min-width: 150px;
    min-height: 50px;
    font-weight: bold;
}

section.prodottoSingolo > table{
    display: "";
    margin-top: 5%;
    margin-left: 3%;
    background-color: #161A1D;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
}

section.prodottoSingolo > table td, section.prodottoSingolo > table th{
    border: 1px solid #E32629;
    padding: 0 20px;
    color: #FFF;
}

label{
    color: #FFF;
    font-size: 15px;
    margin-bottom: 1%;
    font-weight: 100;
}


/* PRODOTTO FINE */

/* CARRELLO INIZIO */
section.intestazioneCarrello{
    padding: 20px 10px;
}

section.intestazioneCarrello> h1{
    color: #E32629;
    font-size: 40px;
    font-weight: bold;
}

section.intestazioneCarrello> p{
    color: #FFF;
    font-size: 20px;
}

.bottoneSecondario{
    background-color: #E32629;
    min-width: 150px;
    min-height: 50px;
    color: #000;
    font-weight: bold;
}

.link2{
    background-color: #E32629;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 2%;
}

.aggiornaQuantità{
    background-color: #E32629;
    min-width: 10%;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

input.testoTabella {
    width: 40px;
    text-align: center;
}

/* CARRELLO FINE*/

/* GESTIONE PRODOTTI INIZIO*/
.modificaProdotti{
    background-color: #D3D3D3;
    margin-top: 2%;
    color: rgb(12, 5, 5);
}

table.tabellaCategorie td > .bottoneTabella{
    margin-top: 10%;
}

div.container > button:last-of-type{
    margin-top: 5%;
}

/* GESTIONE PRODOTTI FINE*/

/* NOTIFICHE INIZIO*/
section.notifiche{
    text-align: center;
}

section.notifiche > p {
    color: #D3D3D3;
    font: size 20px;
}

section.notifiche > ul {
    border: 2px solid #E32629;
    padding: 0;
    margin: 0 5%;
}

section.notifiche > ul > li > div {
    display: none;
    width: 100%;
    background-color: #161A1D;
    border-bottom: 1px solid #000;
}


section.notifiche > ul > li >  div > p {
    color: #FFF;
    text-align: left;
    margin: 0;
    padding: 1% 40px;
}

section.notifiche > ul > li > img {
    max-height: 20px;
    position: absolute;
    right: 10%;
    padding-top: 20px;    
}

section.notifiche > ul > li > button {
    background-color: #161A1D;
    padding: 20px;
    width: 99.6%;
    margin: 0.2%;
    text-align: left;
    border: none;
    outline: none;
    color: #D3D3D3;
    font-weight: bold;
    border: 1px solid #D3D3D3;
}

section.notifiche > ul > li > div > footer {
    text-align: right;
    display: block;
    padding: 1%;
    background-color: transparent;
}

section.notifiche > ul > li > div > footer > button{
    min-width: auto;
    min-height: auto;
    font-weight: bold;
}

.visualizzato{
    color: #B1A7A6 !important;
    border: 1px solid transparent !important;
}

.nascondi{
    visibility: hidden;
}

/*NOTIFICHE FINE*/

/*PAGAMENTO INIZIO*/

section.pagamento > form > div > label {
   color: #FFF;
   margin-top: 1%; 
}
section.pagamento > form > div > p {
    margin-top: 4%;
    color: #E32629; 
 }

section.pagamento > form > div> input{
    margin: 0 auto;
    padding: 5px 20px;
    background-color: #D3D3D3;
}

section.pagamento > form > div> input:last-of-type{
    margin-top: 5%;
    background-color: #E32629;
    min-width: 150px;
    min-height: 50px;
    color: #000;
    font-weight: bold;
}

section.pagamento > form > div> p, section.pagamento > form > div > input, section.pagamento > form > div > label{
    display: block;
}

section.pagamento > form > div {
text-align: center;
}

/*PAGAMENTO FINE*/

@media screen and (min-width: 768px){
    /*HOMEPAGE*/
    div.barra > ul {
        display: flex;
    }

    section:not(:first-of-type, .pagamento){
        display: inline-block;
        width: 40%;
        margin-left: 6%;
    }

    .container {
        margin-top: -3.5%;
        width: 100%;
        height: 100%;
    }
    
    .container img {
        width: 100%;
        height: 100%;
    }

    nav.menu{
        padding: 2% 10%;
    }

    section.prodottoEsaurito{
        border: 5px solid #E32629;
    }

    
    /*IMAGE SLIDER*/
    .prev, .next,.text {font-size: 11px}

    /*LOGIN*/
    div.login{
        max-height: 500px;
        max-width: 500px;
        margin-top: 2%;
    }

    /*CATEGORIE*/
    section.filtro > ul > li{
        margin-right: 3%;
    }

    section.filtro > ul > li > button{
        min-width: 130px;
    }

    /*PRODOTTO*/
    button.aggiungi{
        display: inline-block;
        margin-top: 0;
        position: relative;
        margin-left: 40px;
    }

    /*PAGAMENTO*/

}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:disabled{
    background-color: #B1A7A6;
}
