/* HOMEPAGE INIZIO */
html, body {
    height: 100%;
    width: 100%;
    display: table;
}

body{
    background-color: #161A1D;
    margin: 0 0 0 0;
    padding: 0;
}

header {
    background-color: #0B090A;
    margin-top: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    border-bottom: 5px solid #A4161A;
}

ul{
    list-style: none;
}

a:hover{
    color: #A4161A!important;
}

header>ul{
    display:flex;
    justify-content:center;
    margin: 15px 1% 20px;
    padding: 0;
    max-height: 50px;
}

header > ul > li:first-of-type > button > img{
    max-height: 50px;
}

header > ul > li:nth-child(2){
    margin-right: auto;
    margin-left: auto;
}

header > ul > li > a >img{
    max-height: 50px;
    margin: 0 10px;
}

header > ul > li:nth-child(2) > a > img{
 max-height: 50px;
}

div.barra {
    margin-top: 85px;
}

div.barra > ul{
    display:  none;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #161A1D;
    border-bottom: 5px solid #A4161A;
}

div.barra > ul > li{
    margin: 0 auto;
}

div.barra > ul > li > a{
    text-decoration: none;
    color: #B1A7A6;
    font-size: 20px;
}

.bottoneMenu {
    background-color: transparent;
    border: 0px;
    padding: 0;
}

nav.menu{
    z-index: 1;
    background-color: #0B090A;
    display: none;
    position: fixed;
    padding: 2% 15%;
    border: 3px solid #A4161A;
    margin-top: 90px;
}

nav.menu>ul{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    margin: 0;
}

nav.menu>ul>li{
    margin: 35px 0;
}

nav.menu>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: #B1A7A6;
    border-bottom: 1px solid #A4161A;
}

/*SLIDER IMMAGINI INZIO*/
.slider{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    width: 100%;
    background-color: #0B090A;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #F5F3F4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #0B090A;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*SLIDER IMMAGINI FINE*/

section > h1 {
    color: #A4161A;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    font-weight: 100;
}
section> h2 {
    color: #B1A7A6;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

section{
    background-color: #0B090A;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
   
}

section:not(:first-of-type){
    background-color: #0B090A;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

.container {
    margin-top: -3.5%;
    width: 100%;
    height: 100%;
}

.container img {
    width: 100%;
    height: 100%;
}

section:not(:first-of-type) > h2{
    color: #F5F3F4;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;

}

section:not(:first-of-type) > p{
    color: #B1A7A6;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;

}

.link1{
    color: #A4161A;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 2%;

}

footer{
    background-color: #0B090A;
    text-align: center;
    padding: 1% 0;
}

footer>p{
    color: #B1A7A6;
    font-size: 15px;
    font-weight: 100;
    text-align: center;    
    margin: auto;
}

footer>p:first-child{
    font-size: 25px;
    color: #A4161A;
    font-weight: 100;
}

table.tabellaFooter{
    text-align: center;
    margin-bottom: 1%; 
    margin-left: auto;
    margin-right: auto;
}

table.tabellaFooter tr, table.tabellaFooter th{
    padding: 10px 30px;
    width: 30%;
}

table.tabellaFooter th > a{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F3F4;
}
/*HOMEPAGE FINE*/

/* LOGIN e REGISTER INIZIO*/
div.login{
    display: flex;
    justify-content: center;
    background-color: #0B090A;
    margin: 100px auto 2% auto;
    max-height: 500px;
    max-width: 400px;
    text-align: center;
    padding: 0 2% 7% 2%;
}

div.login>form>h2{
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    color: #F5F3F4;
    margin: 2% 0%;
}

div.login>form{
    text-align: center;
    margin: 5px 0;
}

div.login>form>ul{
    padding: 0px;
}

div.login>form>ul>li:first-of-type>p{
    text-align: center;
    color: red;
}

div.login>form>ul>li{
    margin: 5% 0;
}

div.login>form>ul>li:last-of-type{
    padding: 5% 0;
}

li.registerButton>input{
    padding: 5% 27%;
    font-weight: bold;
    font-size: 14px;
    background-color: #A4161A;
    margin: 0;
}

li.loginButton>input{
    padding: 5% 33%;
    font-weight: bold;
    font-size: 14px;
    background-color: #A4161A;
    margin: 0;
}

div.login>form>ul>li>input.field{
    background-color: #999999;
    padding: 2% 10% 2% 2%;
}

div.login>form>ul>li>p{
    text-align: center;
    font-weight: 100;
    color: #999;
    margin: 5px;
}

div.login>form>ul>li>label{
    text-align: center;
    color: #999;
    margin: 20%;
    padding: 5px 0;
}

a.vadoRegister{
    text-align: center;
    padding: 5% 28%;
    background-color: #999;
    color: #0B090A;
    text-decoration: none;
    margin-top: 3%;
    font-weight: bold;
    font-size: 14px;
}

a.vadoLogin{
    text-align: center;
    padding: 5% 30%;
    background-color: #999;
    color: #0B090A;
    text-decoration: none;    
    font-weight: bold;
    font-size: 14px;
}

::placeholder{
    color: #0B090A;
}
/* LOGIN e REGISTER FINE */

/* CATEGORIE INIZIO */
section.filtro > h1{
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}

section.filtro > h2{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
}

section.filtro >button:first-of-type, 
section.filtro >button:nth-child(8){
margin-left: 10%;
}

section.filtro >button{
    min-width: 80px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #A4161A;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0B090A;
}


table.tabellaCategorie {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

h2.testoTabella{
    color: #F5F3F4;
    font-weight: 100;
}

p.testoTabella{
    color: #999;
    font-weight: 100;
}

button.bottoneTabella {
    background-color: #A4161A;
    min-width: 150px;
    min-height: 50px;
    color: #0B090A;
}
/* CATEGORIE FINE */

/* PRODOTTO INIZIO */
section.prodottoSingolo{
    margin: 5% 3%;
}

section.prodottoSingolo > h1{
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 40px;
}

section.prodottoSingolo > h2{
    display: inline-block;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;
    color: #F5F3F4;
}

form.selezionaQuantità{
    display: inline-block;
    margin-left: 50px;

}
select{
    background-color: rgba(0, 0, 0, 0);
    min-width: 50px;
    min-height: 50px;
    color: #F5F3F4;
    border: 1px solid #A4161A;
}
option{
    background-color: #0B090A;
    
}

section.prodottoSingolo > button:first-of-type{
    position: relative;
    left: 50px;
}

section.prodottoSingolo > p{
    color: #B1A7A6;
    font-size: 20px;
    font-weight: 100;
    text-align: left;

    margin-right: 3%;
    margin-left: 3%;
}

section.prodottoSingolo > button:last-of-type{
    margin-left: 3%;
    background-color: #A4161A;
    max-width: 100px;
    color: #0B090A;
    min-width: 150px;
    min-height: 50px;
}

section.prodottoSingolo > table{
    display: "";
    margin-top: 5%;
    margin-left: 3%;
    background-color: #161A1D;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
}

section.prodottoSingolo > table td, section.prodottoSingolo > table th{
    border: 1px solid #A4161A;
    padding: 0 20px;
    color: #F5F3F4;
}

label{
    color: #F5F3F4;
    font-size: 15px;
    margin-bottom: 1%;
    font-weight: 100;
}


/* PRODOTTO FINE */

/* CARRELLO INIZIO */
section.carelloSection > ul >li > p{
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F3F4;
    font-size: 20px;
    margin-bottom: 5px;
}

section.carelloSection>ul{
    display:flex;
    justify-content:center;
}

section.carelloSection > ul > li:nth-child(1){
    margin-right: auto;
    margin-left: 1%;
}

section.carelloSection > ul > li:nth-child(2){
   padding-left: 25%;
}

section.carelloSection > ul > li:nth-child(3){
    margin-right: 1%;
    margin-left: auto;
}

.link2{
    font-family: Arial, Helvetica, sans-serif;
    color: #A4161A;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
}

.aggiornaQuantità{
    background-color: #A4161A;
    min-width: 10%;
    color: #0B090A;

}
/* CARRELLO FINE*/

/* GESTIONE PRODOTTI INIZIO*/
.modificaProdotti{
    background-color: #B1A7A6;
    margin-top: 2%;
}

table.tabellaCategorie td > button.bottoneTabella{
    margin-top: 10%;
}
/* GESTIONE PRODOTTI FINE*/

/* NOTIFICHE INIZIO*/
section.notifiche{
    text-align: center;
}
section.notifiche > div {
    display: none;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #161A1D;
    border-bottom: 1px solid #0B090A;
    
}


section.notifiche > div > p {
    color: #F5F3F4;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

section.notifiche > button {
    background-color: #161A1D;
    padding: 20px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid #A4161A;
    color: #A4161A;
    
}
section.notifiche > div > button{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 80%;
    min-width: auto;
    min-height: auto;
    
}

.visualizzato{
    background-color: #B1A7A6!important;
    color: #0B090A!important;
    border-bottom: 1px solid #0B090A!important;
}



/*NOTIFICHE FINE*/

@media screen and (min-width: 768px){
    /*HOMEPAGE*/
    div.barra > ul {
        display: flex;
    }

    section:not(:first-of-type){
        display: inline-block;
        width: 40%;
        margin-left: 6%;
    }

    .container {
        margin-top: -3.5%;
        width: 100%;
        height: 100%;
    }
    
    .container img {
        width: 100%;
        height: 100%;
    }

    nav.menu{
        padding: 2% 10%;
    }

    section.prodottoEsaurito{
        border: 5px solid #A4161A;
    }

    
    /*IMAGE SLIDER*/
    .prev, .next,.text {font-size: 11px}

    /*LOGIN*/
    div.login{
        max-height: 500px;
        max-width: 500px;
        margin-top: 2%;
    }

    /*CATEGORIE*/
    section.filtro >button{
        min-width: 130px;
        margin-right: 15px;
        margin-left: 15px;
    }

    /*CARRELLO*/
    section.carelloSection > ul > li:nth-child(2){
        padding-left: 50%;
     }
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.login>form>ul>li>input.error{
    border: 1px solid red;
    background-color: rgb(197, 197, 197);
}

div.login>form>ul>li>p.error {
    color: red;
}

div.login>form>ul>li>label.error {
    color: white;
}